{%  if isSeller.store_status is defined %}
 {% if isSeller.store_status %}
<div class="pts-list-group">
  <a class="pts-list-group-item" href="{{ sellerprofile }}">{{ text_sellerprofile }}</a>
  <a class="pts-list-group-item" href="{{ sellerstore }}" >{{ text_sellerstore }}</a>
  <a class="pts-list-group-item" href="{{ sellerproduct }}" >{{ text_sellerproduct }}</a>
  <a class="pts-list-group-item" href="{{ sellerdownload }}" >{{ text_sellerdownload }}</a>
  <a class="pts-list-group-item" href="{{ sellerorder }}" >{{ text_sellerorder }}</a>
  <a class="pts-list-group-item" href="{{ sellerpayment }}" >{{ text_sellerpayment }}</a>
  <a style="display: none;" class="pts-list-group-item" href="{{ sellercommission }}" >{{ text_sellercommission }}</a>
  <a class="pts-list-group-item" href="{{ sellerview }}" target="_blank" >{{ text_sellerview }}</a>
  <a class="pts-list-group-item" href="{{ sellerreview }}" >{{ text_sellerreview }}</a>
  <a class="pts-list-group-item" href="{{ sellerenquiry }}" >{{ text_sellerenquiry }}</a>
  <a class="pts-list-group-item" href="{{ removeseller }}" onclick="return confirm('Are you sure?')" ><b>{{ text_removeseller }}</b></a>
  </div>
  {% else %}
 <div class="pts-list-group">
  {% if isSeller.is_removed %}
  <a class="pts-list-group-item" href="{{ becomeseller }}">{{ text_becomeseller }}</a>
 {% else %}
  <a class="pts-list-group-item" javascript="void(0)">{{ text_approval }}</a>
  {% endif %}
  </div>
  {% endif %}
  {% endif %}

  {% if logged %}
 {% if module_purpletree_multivendor_status %}
 {% if isSeller.store_status is empty %}
<div class="pts-list-group">
 <a class="pts-list-group-item" href="{{ becomeseller }}" >{{ text_becomeseller }}</a>
  </div>
 {% endif %}
 {% endif %}
 {% endif %}