.store_logo{margin-bottom:10px;}
.store_top_div{margin-bottom:20px;}
.directory .fa-folder.fa-5x {font-size: 10.5em;}
.pts-banner{margin-bottom:30px;}
/* .pts-alert-success{
	background:transparent;
	} */
.pts-product-thumb .pts-caption {
    min-height: 125px;
    padding: 0 20px;
}
.pts-nav-tabs {
    margin-bottom: 15px;
}
.pts-breadcrumb > li + li::before {
    content: "";
    padding: 0;
}
.pts-breadcrumb > li {
    padding: 0 20px;
    position: relative;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
}
.pts-breadcrumb > li::after {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    content: "";
    display: block;
    height: 26px;
    position: absolute;
    right: -5px;
    top: -3px;
    transform: rotate(-45deg);
    width: 26px;
}
.pts-product-thumb {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    overflow: auto;
}
.pts-product-thumb .image {
    text-align: center;
}
.pts-product-thumb .image img {
    margin-left: auto;
    margin-right: auto;
}
.pts-product-thumb .image a {
    display: block;
}
.pts-product-thumb .button-group {
    background-color: #eee;
    border-top: 1px solid #ddd;
    overflow: auto;
}
.pts-product-thumb .button-group button {
    background-color: #eee;
    border: medium none;
    color: #888;
    display: inline-block;
    float: left;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    width: 60%;
}
.pts-product-thumb .button-group button + button {
    border-left: 1px solid #ddd;
    width: 20%;
}
.pts-product-thumb .price-old {
    color: #999;
    margin-left: 10px;
    text-decoration: line-through;
}
.pts-form-group select {
    margin: 0;
}
#pts-content {
    min-height: 600px;
}
div.required .pts-control-label::before {
    color: #f00;
    content: "* ";
    font-weight: bold;
}
#pts-content h1{
	margin-bottom:20px;
}
.pts-modal-body .pts-form-group {
    margin: 0;
}
.pts-modal-body .pts-form-group label,.pts-modal-body .checkbox label{
	width:100%;
}
.pts-tab-content .modal-dialog,.pts-form-group .modal-dialog{
    margin: 12% auto;
}
.store_top_div .pagination ,.pts-panel-body .pagination{  
  border-radius: 4px;    display: inline-block;    margin: 0;    padding-left: 0;
  }
.store_top_div .pagination > li ,.pts-panel-body .pagination > li{ 
   display: inline;height: auto;width: auto;border-radius: 0; margin-right: 0;
   }
.store_top_div .pagination > li:first-child > a,.store_top_div .pagination > li:first-child > span ,.pts-panel-body .pagination > li:first-child > a, .pts-panel-body .pagination > li:first-child > span{  
  border-bottom-left-radius: 4px;    border-top-left-radius: 4px;    margin-left: 0;
  }
.store_top_div .pagination > .active > a,.store_top_div .pagination > .active > a:focus,.store_top_div .pagination > .active > a:hover, .store_top_div .pagination > .active > span,.store_top_div .pagination > .active > span:focus,.store_top_div .pagination > .active > span:hover  ,.pts-panel-body .pagination > .active > a,.pts-panel-body .pagination > .active > a:focus,.pts-panel-body .pagination > .active > a:hover,.pts-panel-body .pagination > .active > span,.pts-panel-body  .pagination > .active > span:focus,.pts-panel-body .pagination > .active > span:hover{ 
   background-color: #337ab7;    border-color: #337ab7;    color: #fff;    cursor: default;    z-index: 2;
   }
.store_top_div .pagination > li > a,.store_top_div .pagination > li > span,.pts-panel-body .pagination > li > a, .pts-panel-body .pagination > li > span{
    background-color: #fff;    border: 1px solid #ddd;    color: #337ab7;    float: left;    line-height: 1.42857;    margin-left: -1px;    padding: 6px 12px;    position: relative;    text-decoration: none; height: auto;width: auto;border-radius: 0; margin-right: 0;
	}
.purpletree_seller{
	border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 12px 5px;
}
.purpletree_seller .product_count {
    background: #eee none repeat scroll 0 0;
    padding: 4px 9px;
}
.purpletree_seller .product_count h3{
	margin-top: 11px;
}
.purpletree_seller .product_count_text{
	margin-bottom:3px;
}
.search_seller .pts-btn{
	background: #eee none repeat scroll 0 0;
    padding: 4px 16px;
}
.purpletree_seller .seller_product {
    float: right;
}
.link.pts-home-sellerlink > a, .link.pts-home-sellerlink > a:hover{color:#fff;}
.link.pts-home-sellerlink{padding:14px 5px;}
.pts-table_order_list tr{
	line-height: 25px;
	border-bottom: 1px solid rgb(204, 204, 204);
}
.pts-table_order_list tr:last-child {
	border-bottom: 0 none !important;
}
.pts-input-group .pts-input-group-addon img {
    max-width: none;
}