<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ title }}</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;">
<div style="width: 680px;">

    <div>
        <p style="margin-top: 0px; margin-bottom: 20px;">Enquery from customer</p>

        <br>

        Customer Name : {{ cust_name }}
        <br>

        Customer Email : {{ cust_email }}
        <br>

        Customer Phone : {{ cust_phone }}
        <br>

        Customer Message : {{ cust_message }}


    </div>
</div>
</body>
</html>
