<style>
    .swiper-container {
        position:relative width: 80%;
        height: 80%;
    }
    .swiper-slide {
        height: 100%;
        position:relative text-align: center;
        font-size: 18px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        margin-right: 1%;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .slider-text{
    background: #7f818042;
    bottom: 10%;
    position: absolute;
    width: 75%;
    padding: 5%;
    font-weight: 700;
    border-radius: 16px;
    font-size: 1.4vw;
    color: beige;
    }
    .image-slider{  
    border-radius: 30px;
    }
    .news-header {
    margin-left: 2%;
    margin-top: 1%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 87%;
    font-weight: 700;
    color: #f1f1f1;
    }
</style>
<div style="font-size: 2vw; width: 25%; background-color:rgb(17, 147, 194); margin-left: 2%; margin-bottom: 2%; margin-top: 2%; padding-left: 3%;padding-top: 2%;padding-bottom: 2%;border-radius: 30px;font-weight: 700;  color: #f1f1f1;"> Souqkahraba News </div>
<div class="swiper-container" style=" height:1%; margin-bottom: 1%; margin-top: 1%;">
    <div class="swiper-wrapper">

        {% for section in sections %}
            
        <div class="swiper-slide" style="width:30% !important;">
            <a class="swiper-slide" href="{{ section.title }}" target="_blank">
            <img style="width: 100%;" class="image-slider" src="{{section.image}}">
            
            <div class="slider-text">
                <p>{{section.description}}</p>
            </div>
            </a>
        </div>
        {% endfor %}
        
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination" style='position: relative; margin-top: 4%;'></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
<script src="https://idangero.us/swiper/dist/js/swiper.min.js"></script>
<script>

    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        spaceBetween: 30,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
        }
    });
</script>