@charset "UTF-8";

@font-face {
  font-family: "d-social-login";
  src:url("fonts/d-social-login.eot");
  src:url("fonts/d-social-login.eot?#iefix") format("embedded-opentype"),
  url("fonts/d-social-login.woff") format("woff"),
  url("fonts/d-social-login.ttf") format("truetype"),
  url("fonts/d-social-login.svg#d-social-login") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icona]:before {
  font-family: "d-social-login";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal ;
  font-variant: normal;
  text-transform: none ;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="dsl-"]:before,
[class*=" dsl-"]:before {
  font-family: "d-social-login" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dsl-facebook:before {
  content: "\e000";
}
.dsl-foursquare:before {
  content: "\e001";
}
.dsl-google-plus:before {
  content: "\e002";
}
.dsl-linkedin:before {
  content: "\e004";
}
.dsl-paypal:before {
  content: "\e005";
}
.dsl-tumblr:before {
  content: "\e006";
}
.dsl-twitter:before {
  content: "\e007";
}
.dsl-vk:before {
  content: "\e008";
}
.dsl-windows:before {
  content: "\e009";
}
.dsl-yahoo:before {
  content: "\e00a";
}
.dsl-yandex:before {
  content: "\e00b";
}
.dsl-mailru:before {
  content: "\e00c";
}
.dsl-odnoklassniki:before {
  content: "\e00d";
}
.dsl-instagram:before {
  content: "\e003";
}
.dsl-github:before {
  content: "\e00e";
}
.dsl-vimeo:before {
  content: "\e00f";
}
.dsl-dribbble:before {
  content: "\e010";
}
.dsl-openid:before {
  content: "\e011";
}
.dsl-steam:before {
  content: "\e012";
}
.dsl-500px:before {
  content: "\e013";
}
.dsl-amazon:before {
  content: "\e014";
}
.dsl-lastfm:before {
  content: "\e015";
}
