{{ header }}
<div class="pts-container">
	<ul class="pts-breadcrumb">
	{% for breadcrumb in breadcrumbs %}
		<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
	{% endfor %}
	</ul>
	<div class="pts-row">{{ column_left }}
		{% if column_left and column_right %}
		{% set class = 'pts-col-sm-6' %}
		{% elseif column_left or column_right %}
		{% set class = 'pts-col-sm-9' %}
		{% else %}
		{% set class = 'pts-col-sm-12' %}
		{% endif %}
		<div id="pts-content" class="{{ class }}">{{ content_top }}
				<h1>{{ heading_title }}</h1>
					{% if sellercontacts %}
						{% for contact in sellercontacts %}
					<table class="pts-table pts-table-striped pts-table-bordered">
					  <tr>
						<td style="width: 50%;"><strong>{{ contact.customer_name }}</strong><br>
							<strong>{{ contact.customer_email }}</strong><br>
							<strong>{{ contact.telephone }}</strong></td>
						<td class="pts-text-right">{{ contact.date_added }}</td>
					  </tr>
					  <tr>
						<td colspan="2">
						<p>{{ contact.customer_message }}</p>
						</td>
					  </tr>
					</table>
					{% endfor %}
					<div class="pts-col-sm-6 pts-text-left">{{ pagination }}</div>
					<div class="pts-col-sm-6 pts-text-right">{{ results }}</div>
					{% else %}
					<div class="pts-text-center">{{ text_empty_result }}</div>
					{% endif %}
				{{ content_bottom }}</div>
				{{ column_right }}</div>
</div>
{{ footer }}