{{ header }}
<div class="pts-container">
    <ul class="pts-breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    {% if success %}
        <div class="alert pts-alert-success"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    <div class="pts-row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'pts-col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'pts-col-sm-9' %}
        {% else %}
            {% set class = 'pts-col-sm-12' %}
        {% endif %}
        <div id="pts-content" class="{{ class }}">{{ content_top }}
            <div class="pts-pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="pts-btn pts-btn-primary"><i class="fa fa-plus"></i></a>
                <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="pts-btn pts-btn-danger" onclick="confirm('Are You sure?') ? $('#form-download').submit() : false;"><i class="fa fa-trash-o"></i></button>
            </div>
            <h1>{{ heading_title }}</h1>
            <div class="pts-panel-body">
                <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-download">
                    <div class="pts-table-responsive">
                        <table class="pts-table pts-table-bordered pts-table-hover">
                            <thead>
                            <tr>
                                <td style="width: 1px;" class="pts-text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                                <td class="pts-text-left">{{ column_name }}</td>
                                <td class="pts-text-left">{{ column_date_added }}</td>
                                <td class="pts-text-right">{{ column_action }}</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if downloads %}
                                {% for download in downloads %}
                                    <tr>
                                        <td class="pts-text-center">{% if selected in download.download_id %}
                                                <input type="checkbox" name="selected[]" value="{{ download.download_id }}" checked="checked" />
                                            {% else %}
                                                <input type="checkbox" name="selected[]" value="{{ download.download_id }}" />
                                            {% endif %}</td>
                                        <td class="pts-text-left">{{ download.name }}</td>
                                        <td class="pts-text-left">{{ download.date_added }}</td>
                                        <td class="pts-text-right"><a href="{{ download.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="pts-btn pts-btn-primary"><i class="fa fa-pencil"></i></a></td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="pts-text-center" colspan="8">{{ text_no_results }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="pts-row">
                    <div class="pts-col-sm-6 pts-text-left">{{ pagination }}</div>
                    <div class="pts-col-sm-6 pts-text-right">{{ results }}</div>
                </div>
            </div>
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
{{ footer }}