{{ header }}
<div class="pts-container">
    <ul class="pts-breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    <div class="pts-row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'pts-col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'pts-col-sm-9' %}
        {% else %}
            {% set class = 'pts-col-sm-12' %}
        {% endif %}
        <div id="pts-content" class="{{ class }}">{{ content_top }}
            <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-download" class="pts-form-horizontal">
                <div class="pts-form-group required">
                    <label class="pts-col-sm-2 pts-control-label">{{ entry_name }}</label>
                    <div class="pts-col-sm-10">
                        {% for language in languages %}
                            <div class="pts-input-group"> <span class="pts-input-group-addon"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                                <input type="text" name="download_description[{{ language.language_id }}][name]" value="{{ download_description[language.language_id] ? download_description[language.language_id].name }}" placeholder="{{ entry_name }}" class="pts-form-control" />
                            </div>
                            {% if error_name[language.language_id] %}
                                <div class="text-danger">{{ error_name[language.language_id] }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="pts-form-group required">
                    <label class="pts-col-sm-2 pts-control-label" for="input-filename"><span data-toggle="tooltip" title="{{ help_filename }}">{{ entry_filename }}</span></label>
                    <div class="pts-col-sm-10">
                        <div class="pts-input-group">
                            <input type="text" name="filename" value="{{ filename }}" placeholder="{{ entry_filename }}" id="input-filename" class="pts-form-control" />
                            <span class="pts-input-group-btn">
                <button type="button" id="button-upload" data-loading-text="{{ text_loading }}" class="btn btn-primary"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                </span> </div>
                        {% if error_filename %}
                            <div class="text-danger">{{ error_filename }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="pts-form-group required">
                    <label class="pts-col-sm-2 pts-control-label" for="input-mask"><span data-toggle="tooltip" title="{{ help_mask }}">{{ entry_mask }}</span></label>
                    <div class="pts-col-sm-10">
                        <input type="text" name="mask" value="{{ mask }}" placeholder="{{ entry_mask }}" id="input-mask" class="form-control" />
                        {% if error_mask %}
                            <div class="text-danger">{{ error_mask }}</div>
                        {% endif %}
                    </div>
                </div>


                <div class="buttons clearfix">
                    <div class="pts-pull-left"><a href="{{ back }}" class="pts-btn pts-btn-default">{{ button_back }}</a></div>
                    <div class="pts-pull-right">
                        <input type="submit" value="{{ button_continue }}" class="pts-btn pts-btn-primary" />
                    </div>
                </div>
            </form>
            {{ content_bottom }}
        </div>
        {{ column_right }}
    </div>
</div>

<script type="text/javascript"><!--
    $('#button-upload').on('click', function() {
        $('#form-upload').remove();

        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

        $('#form-upload input[name=\'file\']').trigger('click');

        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }

        timer = setInterval(function() {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);

                $.ajax({
                    url: 'index.php?route=extension/account/purpletree_multivendor/sellerdownload/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function() {
                        $('#button-upload').button('loading');
                    },
                    complete: function() {
                        $('#button-upload').button('reset');
                    },
                    success: function(json) {
                        if (json['error']) {
                            alert(json['error']);
                        }

                        if (json['success']) {
                            alert(json['success']);

                            $('input[name=\'filename\']').val(json['filename']);
                            $('input[name=\'mask\']').val(json['mask']);
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        }, 500);
    });
//--></script>

{{ footer }}