{{ header }}
<div class="pts-container">
	<ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
			<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
	</ul>
	<div class="pts-row">
		<div id="pts-content" class="col-sm-12">{{ content_top }}
            {{ content_top }}
			<h1 style="display:none; padding-top: 10px; font: normal 35px MyriadPro-Bold;">{{ store_name }}</h1>
			<br>
			<div class="pts-row">
				<div class="store_top_div clearfix">
					<div class="pts-col-sm-3">
						<div class="store_logo pts-text-center">
							<img class="img-responsive" src="{{ store_logo }}">
						</div>
                        {% if seller_review_status %}
                            {% if store_rating.rating %}
								<div class="rating pts-text-left">
                                    {% for i in 1..5 %}
                                    {% if store_rating.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
                                    {% endfor %}({{ store_rating.rating|number_format(1) }})
								</div>
                            {% else %}
                                {% for i in 1..5 %}
									<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% endfor %}({{ store_rating.rating|number_format(1) }})
                            {% endif %}
							<div class="store-rating">
								<a href="{{ store_review }}" target="_blank">{{ text_sellerreview }} ({{ store_rating['count'] }})</a>
							</div>
                        {% endif %}
						<div class="seller-name">
							<h3>{{ seller_name }}</h3>
						</div>

                        {% if (website) is not null %}
							<div>
								<div>
									<a href="{{ website }}">{{ website }}</a>
								</div>
							</div>
                        {% endif %}


                        {% if (module_purpletree_multivendor_store_email) is not null %}
							<div class="seller-email">
								<div><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{ store_email }}">{{ store_email }}</a></div>
							</div>
                        {% endif %}
                        {% if (module_purpletree_multivendor_store_phone) is not null %}
							<div class="seller-phone">
								<div><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{ store_phone }}">{{ store_phone }}</a></div>
							</div>
                        {% endif %}
                        {% if (module_purpletree_multivendor_store_address) is not null %}
							<div class="seller-address">
								<div><i class="fa fa-home" aria-hidden="true"></i> {{ store_address }}</div>
							</div>
                        {% endif %}
						<br>
						<div style="margin-bottom: 3px; width: 120px;" class="seller-return">
							<div><a style="width:100%;" href="{{ store_return_policy }}" class="pts-btn pts-btn-xs pts-btn-primary" target="_blank">{{ text_returnpolicy }}</a></div>
						</div>
						<div style="margin-bottom: 3px; width: 120px;" class="seller-shipping">
							<div><a style="width:100%;" href="{{ store_shipping_policy }}" class="pts-btn pts-btn-xs pts-btn-primary" target="_blank">{{ text_shippingpolicy }}</a></div>
						</div>
						<div style="margin-bottom: 3px; width: 120px;" class="seller-about">
							<div><a style="width:100%;" href="{{ store_about }}" class="pts-btn pts-btn-xs pts-btn-primary" target="_blank">{{ text_aboutstore }}</a></div>
						</div>
						<div class="seller-return" style="margin-bottom: 5px; width: 120px;">
							<div><a style="width:100%;" href="{{ seller_contact }}" class="pts-btn pts-btn-xs pts-btn-primary" target="_blank">{{ text_sellercontact }}</a></div>
						</div>
					</div>
					<div class="pts-col-sm-9">
						<div class="pts-banner">
							<img class="img-responsive" src="{{ store_banner }}">
						</div>
                        {% if seller_products %}
							<div class="pts-row">
								<div class="pts-col-md-2 pts-col-sm-6 hidden-xs">

								</div>
								<div class="pts-col-md-3 pts-col-sm-6">

								</div>
								<div class="pts-col-md-4 pts-col-xs-6">
									<div class="pts-form-group pts-input-group pts-input-group-sm">
										<label class="pts-input-group-addon" for="input-sort">{{ text_sort }}</label>
										<select id="input-sort" class="pts-form-control" onchange="location = this.value;">
                                            {% for sorts in sorts %}
                                                {% if sorts.value == '%s-%s'|format(sort, order) %}
													<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                                                {% else %}
													<option value="{{ sorts.href }}">{{ sorts.text }}</option>
                                                {% endif %}
                                            {% endfor %}
										</select>
									</div>
								</div>
								<div class="pts-col-md-3 pts-col-xs-6">
									<div class="pts-form-group pts-input-group pts-input-group-sm">
										<label class="pts-input-group-addon" for="input-limit">{{ text_limit }}</label>
										<select id="input-limit" class="pts-form-control" onchange="location = this.value;">
                                            {% for limits in limits %}
                                                {% if limits.value == limit %}
													<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                                                {% else %}
													<option value="{{ limits.href }}">{{ limits.text }}</option>
                                                {% endif %}
                                            {% endfor %}
										</select>
									</div>
								</div>
							</div>
							<div class="row main-products product-grid" data-grid-classes="{{ journal2.settings.get('product_grid_classes') }} display-{{ journal2.settings.get('product_grid_wishlist_icon_display') }} {{ journal2.settings.get('product_grid_button_block_button') }}">
                                {% for product in seller_products %}
									<div class="product-grid-item {{ journal2.settings.get('product_grid_classes') }}">
										<div class="product-thumb product-wrapper {% if product.labels and product.labels.outofstock %} outofstock {% endif %}">
											<div class="image {% if journal2.settings.get('show_countdown', 'never') != 'never' and product.date_end %} has-countdown {% endif %}">
												<a href="{{ product.href }}" {% if product.thumb2 %} class="has-second-image" style="background: url('{{ product.thumb2 }}') no-repeat" {% endif %}>
													<img class="lazy first-image" width="{{ journal2.settings.get('config_image_width') }}" height="{{ journal2.settings.get('config_image_height') }}" src="{{ journal2.settings.get('product_dummy_image') }}" data-src="{{ product.image }}" title="{{ product.name }}" alt="{{ product.name }}"/>
												</a>
                                                {% for label, name in product.labels %}
													<span class="label-{{ label }}"><b>{{ name }}</b></span>
                                                {% endfor %}
                                                {% if journal2.settings.get('product_grid_wishlist_icon_position') == 'image' and journal2.settings.get('product_grid_wishlist_icon_display') == 'icon' %}
													<div class="wishlist"><a onclick="addToWishList('{{ product.product_id }}');" class="hint--top" data-hint="{{ button_wishlist }}"><i class="wishlist-icon"></i><span class="button-wishlist-text">{{ button_wishlist }}</span></a></div>
													<div class="compare"><a onclick="addToCompare('{{ product.product_id }}');" class="hint--top" data-hint="{{ button_compare }}"><i class="compare-icon"></i><span class="button-compare-text">{{ button_compare }}</span></a></div>
                                                {% endif %}
											</div>
											<div class="product-details">
												<div class="caption">
													<h4 class="name"><a href="{{ product.href }}">{{ product.name }}</a></h4>
													<p class="description">{{ product.description }}</p>
                                                    {% if product.price %}
														<div class="price">
                                                            {% if not product.special %}
                                                                {{ product.price }}
                                                            {% else %}
																<span class="price-old">{{ product.price }}</span> <span class="price-new" {% if product.date_end %}data-end-date="{{ product.date_end }}"{% endif %}>{{ product.special }}</span>
                                                            {% endif %}
														</div>
                                                    {% endif %}
                                                    {% if product.rating %}
														<div class="rating">
                                                            {% for i in 1..5 %}
                                                                {% if product.rating < i %}
																	<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                {% else %}
																	<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                {% endif %}
                                                            {% endfor %}
														</div>
                                                    {% endif %}
												</div>
												<div class="button-group">
                                                    {% if staticCall('Journal2Utils', 'isEnquiryProduct', [null, product]) %}
														<div class="cart enquiry-button">
															<a href="javascript:Journal.openPopup('{{ journal2.settings.get('enquiry_popup_code') }}', '{{ product.product_id }}');" data-clk="addToCart('{{ product.product_id }}');" class="button hint--top" data-hint="{{ journal2.settings.get('enquiry_button_text') }}">{{ journal2.settings.get('enquiry_button_icon') }}<span class="button-cart-text">{{ journal2.settings.get('enquiry_button_text') }}</span></a>
														</div>
                                                    {% else %}
														<div class="cart {% if product.labels and product.labels.outofstock %} outofstock {% endif %}">
															<a onclick="addToCart('{{ product.product_id }}');" class="button hint--top" data-hint="{{ button_cart }}"><i class="button-left-icon"></i><span class="button-cart-text">{{ button_cart }}</span><i class="button-right-icon"></i></a>
														</div>
                                                    {% endif %}
													<div style="display: none;" class="wishlist"><a onclick="addToWishList('{{ product.product_id }}');" class="hint--top" data-hint="{{ button_wishlist }}"><i class="wishlist-icon"></i><span class="button-wishlist-text">{{ button_wishlist }}</span></a></div>
													<div class="compare">
														<a style="border-radius: 50%; width: 35px; height:35px;" onclick="addToCompare('{{ product.product_id }}');" class="button hint--top" data-hint="{{ button_compare }}"><i style="margin-left: -6px;" class="compare-icon"></i><span class="button-compare-text">{{ button_compare }}</span></a>
													</div>
												</div>
											</div>
										</div>
									</div>
                                {% endfor %}
							</div>
							<div class="pts-row">
								<div class="pts-col-sm-6 pts-text-left">{{ pagination }}</div>
								<div class="pts-col-sm-6 pts-text-right">{{ results }}</div>
							</div>
                        {% else %}
							<div class="pts-text-center"><h3>{{ text_no_results }}</h3></div>
                        {% endif %}
					</div>
				</div>
			</div>
            {{ content_bottom }}
		</div>
	</div>
</div>
{{ footer }}