{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-category" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-category" class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-data" data-toggle="tab">{{ tab_data }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-data">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#language1" data-toggle="tab"><img src="language/en-gb/en-gb.png" title="English" /> English</a></li>
                                <li><a href="#language2" data-toggle="tab"><img src="language/ar/ar.png" title="Arabic" /> Arabic</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="language1">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-title">Title</label>
                                        <div class="col-sm-10">
                                            <textarea name="title" rows="2" placeholder="Enter title" id="input-title" class="form-control">{{ title ? title }}</textarea>
                                            {% if error_title %}
                                                <div class="text-danger">{{ error_title }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-activity">Activity by</label>
                                        <div class="col-sm-10">
                                            <textarea name="activity" rows="2" placeholder="Enter Activity By" id="input-activity" class="form-control">{{ activity ? activity }}</textarea>
                                            {% if error_activity %}
                                                <div class="text-danger">{{ error_activity }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-published">Published by</label>
                                        <div class="col-sm-10">
                                            <textarea name="published" rows="2" placeholder="Enter Publish By" id="input-published" class="form-control">{{ published ? published }}</textarea>
                                            {% if error_published %}
                                                <div class="text-danger">{{ error_published }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="language2">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-title_ar">Arabic Title</label>
                                        <div class="col-sm-10">
                                            <textarea name="title-ar" rows="2" placeholder="Enter Arabic title" id="input-title" class="form-control">{{ title_ar ? title_ar }}</textarea>
                                            {% if error_title_ar %}
                                                <div class="text-danger">{{ error_title_ar }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-activity_ar">Arabic Activity by</label>
                                        <div class="col-sm-10">
                                            <textarea name="activity-ar" rows="2" placeholder="Enter Arabic Activity By" id="input-activity_ar" class="form-control">{{ activity_ar ? activity_ar }}</textarea>
                                            {% if error_activity_ar %}
                                                <div class="text-danger">{{ error_activity_ar }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="input-published_ar">Arabic Published by</label>
                                        <div class="col-sm-10">
                                            <textarea name="published-ar" rows="2" placeholder="Enter Arabic Publish By" id="input-published_ar" class="form-control">{{ published_ar ? published_ar }}</textarea>
                                            {% if error_published_ar %}
                                                <div class="text-danger">{{ error_published_ar }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-date">Publish Date</label>
                                <div class="col-sm-3">
                                    <div class="input-group date">
                                        <input type="text" name="date" value="{{ date }}" placeholder="Publish Date" data-date-format="YYYY-MM-DD" id="input-date" class="form-control" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-image">Image</label>
                                <div class="col-sm-3">
                                    <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail">
                                        <img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" />
                                    </a>
                                    <input type="hidden" name="image" value="{{ image }}" id="input-image" />
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.date').datetimepicker({
        pickTime: false
    });
</script>
{{ footer }}
