{{ header }}
<div id="container" class="container j-container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}" itemprop="url"><span itemprop="title">{{ breadcrumb.text }}</span></a></li>
    {% endfor %}
  </ul>
  {% if success %}
    <div class="alert alert-success alert-dismissible success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  <div class="row">{{ column_left }}{{ column_right }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1 class="heading-title">{{ heading_title }}</h1>
      {% if products %}
        <div class="content wishlist-info">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <td class="text-center image">{{ column_image }}</td>
              <td class="text-left name">{{ column_name }}</td>
              <td class="text-left model">{{ column_model }}</td>
              <td class="text-right stock">{{ column_stock }}</td>
              <td class="text-right price">{{ column_price }}</td>
              <td class="text-right action">{{ column_action }}</td>
            </tr>
            </thead>
            <tbody>

            {% for product in products %}
              <tr>
                <td class="text-center image">{% if product.thumb %}<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"/></a>{% endif %}</td>
                <td class="text-left name"><a href="{{ product.href }}">{{ product.name }}</a></td>
                <td class="text-left model">{{ product.model }}</td>
                <td class="text-right stock">{{ product.stock }}</td>
                <td class="text-right price">{% if product.price %}
                    <div class="price"> {% if not product.special %}
                        {{ product.price }}
                      {% else %} <b>{{ product.special }}</b> <s>{{ product.price }}</s> {% endif %} </div>
                  {% endif %}</td>
                <td class="text-right action">
                  <button type="button" onclick="addToCart('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></button>
                  <a href="{{ product.remove }}" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-times"></i></a></td>
              </tr>
            {% endfor %}
            </tbody>

          </table>
        </div>
        </div>
      {% else %}
        <p>{{ text_empty }}</p>
      {% endif %}
      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary button">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
  </div>
</div>
{{ footer }}
