{{ header }}

<style>
    @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
    body {
        background: #dce1df;
        color: #4f585e;
        font-family: 'Source Sans Pro', sans-serif;
        text-rendering: optimizeLegibility;
    }
    a.btn {
        background: #0096a0;
        border-radius: 4px;
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.25);
        color: #ffffff;
        display: inline-block;
        padding: 6px 30px 8px;
        position: relative;
        text-decoration: none;
    }
    .no-touch a.btn:hover {
        background: #00a2ad;
        box-shadow: 0 8px 2px 0 rgba(0, 0, 0, 0.075);
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
        -webkit-transition: all 0.25s 0s ease-out;
        transition: all 0.25s 0s ease-out;
    }
    .no-touch a.btn:active,
    a.btn:active {
        background: #008a93;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25);
        -webkit-transform: translate3d(0, 1px, 0);
        transform: translate3d(0, 1px, 0);
        -webkit-transition: all 0.025s 0s ease-out;
        transition: all 0.025s 0s ease-out;
    }
    div.cards {
        margin: 80px auto;
        max-width: 960px;
        text-align: center;

    }
    div.card {
        background: #ffffff;
        display: inline-block;
        margin: 4%;
        width: 25%;
        -webkit-perspective: 1000;
        perspective: 1000;
        position: relative;
        text-align: left;
        -webkit-transition: all 0.3s 0s ease-in;
        transition: all 0.3s 0s ease-in;
        z-index: 1;
    }
    div.card img {
        max-width: 300px;
    }
    div.card div.card-title {
        background: #ffffff;
        padding: 6px 15px 10px;
        position: relative;
        z-index: 0;
    }
    div.card div.card-title a.toggle-info {
        border-radius: 32px;
        height: 32px;
        padding: 0;
        position: absolute;
        right: 15px;
        top: 10px;
        width: 32px;
    }
    div.card div.card-title a.toggle-info span {
        background: #ffffff;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        -webkit-transition: all 0.15s 0s ease-out;
        transition: all 0.15s 0s ease-out;
        width: 12px;
    }
    div.card div.card-title a.toggle-info span.left {
        right: 14px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    div.card div.card-title a.toggle-info span.right {
        left: 14px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    div.card div.card-title h2 {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.05em;
        margin: 0;
        padding: 0;
    }
    div.card div.card-title h2 small {
        display: block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.025em;
    }
    div.card div.card-description {
        padding: 0 15px 10px;
        position: relative;
        font-size: 14px;
    }
    div.card div.card-actions {
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.075);
        padding: 10px 15px 20px;
        text-align: center;
    }
    div.card div.card-flap {
        background: #d9d9d9;
        position: absolute;
        width: 100%;
        -webkit-transform-origin: top;
        transform-origin: top;
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
    }
    div.card div.flap1 {
        -webkit-transition: all 0.3s 0.3s ease-out;
        transition: all 0.3s 0.3s ease-out;
        z-index: -1;
    }
    div.card div.flap2 {
        -webkit-transition: all 0.3s 0s ease-out;
        transition: all 0.3s 0s ease-out;
        z-index: -2;
    }
    div.cards.showing div.card {
        cursor: pointer;
        opacity: 0.6;
        -webkit-transform: scale(0.88);
        transform: scale(0.88);
    }
    .no-touch div.cards.showing div.card:hover {
        opacity: 0.94;
        -webkit-transform: scale(0.92);
        transform: scale(0.92);
    }
    div.card.show {
        opacity: 1 !important;
        -webkit-transform: scale(1) !important;
        transform: scale(1) !important;
    }
    div.card.show div.card-title a.toggle-info {
        background: #ff6666 !important;
    }
    div.card.show div.card-title a.toggle-info span {
        top: 15px;
    }
    div.card.show div.card-title a.toggle-info span.left {
        right: 10px;
    }
    div.card.show div.card-title a.toggle-info span.right {
        left: 10px;
    }
    div.card.show div.card-flap {
        background: #ffffff;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    div.card.show div.flap1 {
        -webkit-transition: all 0.3s 0s ease-out;
        transition: all 0.3s 0s ease-out;
    }
    div.card.show div.flap2 {
        -webkit-transition: all 0.3s 0.2s ease-out;
        transition: all 0.3s 0.2s ease-out;
    }
    //----------  responsive breakpoints
//------------------------------------------------------------------------------
@mixin breakpoint ($value) {
  @if $value == 'phone' {
    @media only screen and (min-width: 120px) and (max-width: 767px) { @content; }
  } @else if $value == 'tablet' {
    @media only screen and (min-width: 768px) and (max-width: 1024px) { @content; }
  } @else if $value == 'touch' {
    @media only screen and (min-width: 120px) and (max-width: 1024px) { @content; }
  } @else if $value == 'desktop' {
    @media only screen and (min-width: 1025px) { @content; }
  } @else {
    @media only screen and (max-width: $value) { @content; }
  }
}

// Colors
$white: #fff;
$black: #000;
$grey: #595959;
$grey-dark: #2b2b2b;
$grey-light: #333333e8;
$green: #86c029;
$blue: #000;

// Transition
$duration: 400ms;
$easing: ease;

//----------  reset
//------------------------------------------------------------------------------
htm,
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

//----------  pagination
//------------------------------------------------------------------------------
.pagination-wrapper {
  text-align: center;
  margin: 40px 0;
}

.pagination1 {
	display: inline-block;
	height: 70px;
	margin-top: 70px;
	padding: 0 25px;
	border-radius: 35px;

	@include breakpoint(1199px) {
		height: 50px;
		margin-top: 50px;
		padding: 0 10px;
		border-radius: 25px;
	}
}

.page-numbers1 {
	display: block;
	padding: 0 25px;
	float: left;
	transition: $duration $easing;
	color: $grey;
	font-size: 20px;
	letter-spacing: 0.1em;
	line-height: 70px;

	&:hover,
	&.current {
		background-color: $green;
		color: $white;
	}

	&.prev:hover,
	&.next:hover {
		background-color: transparent;
    color: $green;
	}

	@include breakpoint(1199px) {
		padding: 0 15px;
		font-size: 16px;
		line-height: 50px;
	}

	@include breakpoint(touch) {
		padding: 0 14px;
		display: none;

		&:nth-of-type(2) {
			position: relative;
			padding-right: 50px;

			&::after {
				content: '...';
				position: absolute;
				font-size: 25px;
				top: 0;
				left: 45px;
			}
		}

		&:nth-child(-n+3),
		&:nth-last-child(-n+3) {
			display: block;
		}

		&:nth-last-child(-n+4) {
			padding-right: 14px;

			&::after {
				content: none;
			}
		}
	}
}
</style>
<div id="container" class="container j-container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="{{ breadcrumb.href }}" itemprop="url">
                    <span itemprop="title">{{ breadcrumb.text }}</span></a>
            </li>
        {% endfor %}
    </ul>
    <div class="row">{{ column_left }}{{ column_right }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">
            <h1 class="heading-title">{{ text_heading }}</h1>
            {{ content_top }}

            <div class="buttons">
                <h2>{{ text_search }}</h2>
                <br>
                <div class="row content">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <input type="text" name="search_text" value="{{ filter_name }}" placeholder="{{ text_name }}" id="input-search" class="form-control"/>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <select name="search_category" class="form-control">
                            <option value="0">{{ text_category }}</option>
                            {% for index, category in categories %}
                                {% if index != '0' %}
                                    {% if index == filter_category %}
                                        <option value="{{ index }}" selected="selected">{{ category }}</option>
                                    {% else %}
                                        <option value="{{ index }}">{{ category }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <select name="search_location" class="form-control">
                            <option value="0">{{ text_location }}</option>
                            {% for index, location in zones %}
                                {% if index == filter_location %}
                                    <option value="{{ index }}" selected="selected">{{ location }}</option>
                                {% else %}
                                    <option value="{{ index }}">{{ location }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <br>
                <div class="pull-right">
                    <input type="button" value="{{ button_search }}" id="button-search" class="btn btn-primary button"/>
                </div>
            </div>

            {% if sellers %}

                {% set count = 0 %}
                {% for seller in sellers %}
                
                    <div class="card cardNum{{ (count % 11)  }}" >
                        <img src="{{seller.seller_thumb}}">
                        <div class="card-title">
                            <h2>
                                {{seller.seller_name}}
                            </h2>

                            <h4>Email:
                                <small>{{seller.email}}</small>
                            </h4>
                            <h4>phone:
                                <small>{{seller.phone}}</small>
                            </h4>
                        </div>
                        <div class="">
                            <div class="card-description">
                                <h4>category:
                                    <small>
                                        <a href="{{seller.category_href}}">{{seller.category_name}}</a>
                                    </small>
                                </h4>
                                <h4>location:
                                    <small>
                                        <a href="{{seller.location_href}}">{{seller.location_name}}</a>
                                    </small>
                                </h4>

                            </div>
                           <div style="margin-left: 10%;">
                                <a href="{{seller.seller_href}}" class="btn">Read more</a>
                            </div> 
                        </div>
                    </div>
                {%  set count = count + 1 %}
                {% endfor %}

<div class="pagination-wrapper">
  <div class="pagination1" style="background-color: #ededed;">
    <a class="prev page-numbers1" href="javascript:prev();" style="color: #333333;"><<</a>
    {% set count = sellers|length / 6 %}
   {% for i in   0..count %}
    <button class="page-numbers1 pagin{{i}}" onClick="paginate('{{i}}')" style="color: #333333;">{{i + 1}}</button>
   {% endfor %}
    <a class="next page-numbers1" href="javascript:next();" style="color: #000;">>></a>
  </div>
  <div id="curr-index" style="display:none;">0</div>
</div>
            {% else %}
                <p>{{ text_empty }}</p>
            {% endif %}
            {{ content_bottom }}</div>
    </div>
</div>
<script>
$('.card').hide();
$('.cardNum0').show();
 $('.pagin0').css('background-color','#aaa');
function paginate(index){
    $('.card').hide();
    $('.cardNum'+index).show();
    $('.page-numbers1').css('background-color','#ecedec');
    $('.pagin'+index).css('background-color','#aaa');
    $('#curr-index').html(index);
}
function next(){
   var curr_index =$('#curr-index').html();
    if(curr_index < 10 ) curr_index ++;
   else curr_index = 10;
    paginate(curr_index)

}
function prev(){
   var curr_index =$('#curr-index').html();
   if(curr_index > 0 ) curr_index --;
   else curr_index = 0;
    
    paginate(curr_index)
}
</script> 

{{ footer }}
