{{ header }}

<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=501173676935241';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div id="container" class="container j-container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}"
                                                                              itemprop="url"><span
                            itemprop="title">{{ breadcrumb.text }}</span></a></li>
        {% endfor %}
    </ul>
    <div class="row">{{ column_left }}{{ column_right }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">
            <p style="direction: rtl;" class="heading-title">{{ supplier_registration_title }} </p>
            {{ content_top }}


            <div class="row">

                <h4 style="display: inline">{{ text_activity_by }}</h4>


                {{ supplier_registration_activity_by }}

            </div>
            <br>
            <div class="row">
                <h4 style="display: inline">{{ text_publish_date }}</h4>
                {{ supplier_registration_publish_date }}

            </div>
            <br>
            <div class="row">
                <h4 style="display: inline">{{ text_publish_by }}</h4>
                {{ supplier_registration_published_by }}
            </div>
            <br>
            <div class="row">
                <h4>{{ text_description }}</h4>
            </div>

            <div class="row">
                <img src="{{ supplier_registration_image }}" alt="description">
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="fb-share-button" data-href="{{ supplier_registration_href }}"
                         data-layout="button" data-size="large" data-mobile-iframe="true"><a
                                class="fb-xfbml-parse-ignore" target="_blank"
                                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <a href="{{ back_href }}">
                        <button type="button" class="button">
                            {{ text_back }}
                        </button>
                    </a>
                </div>
            </div>

            <br><br><br>

            {{ content_bottom }}</div>
    </div>
</div>
{{ footer }}
