{{ header }}
<div id="container" class="container j-container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}"
                                                                              itemprop="url"><span
                            itemprop="title">{{ breadcrumb.text }}</span></a></li>
        {% endfor %}
    </ul>
    <div class="row">{{ column_left }}{{ column_right }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content">
            <h1 class="heading-title">{{ text_heading }}</h1>
            {{ content_top }}
            {% if tenders %}
                {% for tender in tenders %}
                    <div style="direction: rtl;" class="row">
                        <div class="product-list-item">
                            <div>
                                <div>
                                    <img src="{{ tender_thumb }}" alt="icon">
                                </div>

                                <div class="product-details" style="margin-top:-26px; margin-left: 50px; margin-right: 50px;">
                                    <a href="{{ tender.tender_href }}">
                                        <p style=" direction: rtl;">{{ tender.tender_title }}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
                <div class="row pagination">
                    <div class="col-sm-6 text-left links">{{ pagination }}</div>
                    <div class="col-sm-6 text-right results">{{ results }}</div>
                </div>
                {% else %}
                    <p>{{ text_empty }}</p>
                {% endif %}
            {{ content_bottom }}</div>
    </div>
</div>
{{ footer }}
