{{ header }}
<div id="container" class="container j-container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ breadcrumb.href }}"
                                                                              itemprop="url"><span
                            itemprop="title">{{ breadcrumb.text }}</span></a></li>
        {% endfor %}
    </ul>
    <div class="row">{{ column_left }}{{ column_right }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content">
            <h1 class="heading-title">{{ text_heading }}</h1>
            {{ content_top }}


            <div class="wuzzuf-widget-wrap"></div>
            <script src="https://wuzzuf.net/js/wuzzuf-widgets-loader.min.js"></script>
            <script type="text/javascript">Wuzzuf.loadWidget('GENERAL_JOBS', ".wuzzuf-widget-wrap", "AGEC-JOBS");</script>


            {{ content_bottom }}</div>
    </div>
</div>
{{ footer }}
