{{ header }}
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-review').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
	  {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
       {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
  {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
	{% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <div class="well">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="input-product">{{ text_customer_name }}</label>
                <input type="text" name="filter_customer_name" value="{{ filter_customer_name }}" placeholder="{{ text_customer_name }}" id="input-product" class="form-control" />
              </div>
              <div class="form-group">
                <label class="control-label" for="input-author">{{ text_title }}</label>
                <input type="text" name="filter_title" value="{{ filter_title }}" placeholder="{{ text_title }}" id="input-author" class="form-control" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="input-status">{{ text_status }}</label>
                <select name="filter_status" id="input-status" class="form-control">
                  <option value="*"></option>
                  {% if filter_status =='1' %}
                  <option value="1" selected="selected">{{ text_approved }}</option>
                  {% else %} 
                  <option value="1">{{ text_approved }}</option>
					{% endif %}
					 {% if filter_status =='0' %}
                  <option value="0" selected="selected">{{ text_notapproved }}</option>
                  {% else %} 
                  <option value="0">{{ text_notapproved }}</option>
					{% endif %}
                </select>
              </div>
              <div class="form-group">
                <label class="control-label" for="input-date-added">{{ text_date_added }}</label>
                <div class="input-group date">
                  <input type="text" name="filter_created_at" value="{{ filter_created_at }}" placeholder="{{ text_date_added }}" data-date-format="YYYY-MM-DD" id="created_at" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span></div>
				  <input type="hidden" name="seller_id" value="{{ seller_id }}">
              </div>
              <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-review">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if sort == 'c.customer_name' %}
                    <a href="{{ sort_customer }}" class="{{ order|lower }}">{{ text_customer_name }}</a>
                    {% else %} 
                    <a href="{{ sort_customer }}">{{ text_customer_name }}</a>
					{% endif %}</td>
					<td class="text-left">{% if sort == 'c.customer_name' %}
                    <a href="{{ sort_customer }}" class="{{ order|lower }}">{{ text_seller_name }}</a>
                    {% else %} 
                    <a href="{{ sort_customer }}">{{ text_store_name }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'r.author' %}
                    <a href="{{ sort_title }}" class="{{ order|lower }}">{{ text_title }}</a>
                    {% else %} 
                    <a href="{{ sort_title }}">{{ text_title }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if sort == 'r.rating' %}
                    <a href="{{ sort_rating }}" class="{{ order|lower }}">{{ text_rating }}</a>
                    {% else %} 
                    <a href="{{ sort_rating }}">{{ text_rating }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'r.status' %}
                    <a href="{{ sort_status }}" class="{{ order|lower }}">{{ text_status }}</a>
                    {% else %} 
                    <a href="{{ sort_status }}">{{ text_status }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'r.date_added' %}
                    <a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ text_date_added }}</a>
                    {% else %} 
                    <a href="{{ sort_date_added }}">{{ text_date_added }}</a>
                    {% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
			  {% if reviews %}
				  {% for review in reviews %}
                <tr>
                  <td class="text-center">{% if selected in review.id %}
                    <input type="checkbox" name="selected[]" value="{{ review.id }}" checked="checked" />
                    {% else %} 
                    <input type="checkbox" name="selected[]" value="{{ review.id }}" />
					{% endif %}</td>
                  <td class="text-left">{{ review.customer_name }}</td>
                  <td class="text-left">{{ review.store_name }}</td>
				  <td class="text-left">{{ review.review_title }}</td>
				  <td class="text-right">{{ review.rating }}</td>
				  <td class="text-left">{{ review.status }}</td>
				  <td class="text-left">{{ review.date_added }}</td>
				  <td class="text-right"><a href="{{ review['edit'] }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
                {% endfor %}
                {% else %} 
                <tr>
                  <td class="text-center" colspan="7">{{ text_no_results }}</td>
                </tr>
				{% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	url = 'index.php?route=extension/purpletree_multivendor/sellerreviews&user_token={{ user_token }}';
	
	var seller_id = $('input[name=\'seller_id\']').val();

	if (seller_id) {
		url += '&seller_id=' + encodeURIComponent(seller_id);
	}
	
	var filter_customer_name = $('input[name=\'filter_customer_name\']').val();
	
	if (filter_customer_name) {
		url += '&filter_customer_name=' + encodeURIComponent(filter_customer_name);
	}
	
	var filter_title = $('input[name=\'filter_title\']').val();
	
	if (filter_title) {
		url += '&filter_title=' + encodeURIComponent(filter_title);
	}
	
	var filter_status = $('select[name=\'filter_status\']').val();
	
	if (filter_status != '*') {
		url += '&filter_status=' + encodeURIComponent(filter_status); 
	}		
			
	var filter_created_at = $('input[name=\'filter_created_at\']').val();
	
	if (filter_created_at) {
		url += '&filter_created_at=' + encodeURIComponent(filter_created_at);
	}

	location = url;
});
//--></script> 
  <script type="text/javascript"><!--
$('.date').datetimepicker({
	pickTime: false
});
//--></script></div>
{{ footer }}