{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
		  <div class="pull-right">
			<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
		  <h1>{{ heading_title }}</h1>
		  <ul class="breadcrumb">
		  {% for breadcrumb in breadcrumbs %}
			<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
			{% endfor %}
		  </ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="table-responsive panel">
				<table class="table">
					<tbody>
						<tr>
							<td><strong>{{ text_seller_name }}</strong></td>
							<td>{{ seller_name }}</td>
						</tr>
						<tr>
							<td><strong>{{ text_customer_name }}</strong></td>
							<td>{{ customer_name }}</td>
						</tr>
						<tr>
							<td><strong>{{ text_email }}</strong></td>
							<td>{{ customer_email }}</td>
						</tr>
						<tr>
							<td><strong>{{ text_customer_telephone }}</strong></td>
							<td>{{ customer_telephone }}</td>
						</tr>
						<tr>
							<td><strong>{{ text_description }}</strong></td>
							<td>{{ customer_message }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{{ footer }}