{{ header }}
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
		<div class="pull-right">
        <button type="submit" id="button-approve" form="form-order" formaction="{{ approve }}" data-toggle="tooltip" title="{{ button_approve }}" class="btn btn-success">{{ button_approve }}</i></button>
		<button type="submit" id="button-disapprove" form="form-order" formaction="{{ disapprove }}" data-toggle="tooltip" title="{{ button_disapprove }}" class="btn btn-danger">{{ button_disapprove }}</i></button>
      </div>		
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
       {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
       {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <div class="well">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label" for="input-name">{{ entry_storename }}</label>
                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_storename }}" id="input-name" class="form-control" />
              </div>
            </div>
			<div class="col-sm-3">
              <div class="form-group">
                <label class="control-label" for="input-email">{{ entry_storeemail }}</label>
                <input type="text" name="filter_email" value="{{ filter_email }}" placeholder="{{ entry_storeemail }}" id="input-email" class="form-control" />
              </div>
            </div>
            <div class="col-sm-3">	
              <div class="form-group">
                <label class="control-label" for="input-status">{{ entry_storestatus }}</label>
                <select name="filter_status" id="input-status" class="form-control">
                  <option value="*"></option>
                  {% if filter_status=='1' %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                  <option value="1">{{ text_enabled }}</option>
                 {% endif %}
                 {% if filter_status=='0' %}
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                 {% else %}
                  <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label" for="input-date-added">{{ entry_date_added }}</label>
                <div class="input-group date">
                  <input type="text" name="filter_date_added" value="{{ filter_date_added }}" placeholder="{{ entry_date_added }}" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span></div>
              </div>
              <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> 
			  {{ button_filter }}</button>
            </div>
          </div>
        </div>
        <form action="" method="post" enctype="multipart/form-data" id="form-store">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if sort == 'store_name' %}
                    <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_storename }}</a>
					{% else %}
                    <a href="{{ sort_name }}">{{ column_storename }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'store_email' %}
                    <a href="{{ sort_email }}" class="{{ order|lower }}">{{ column_storeemail }}</a>
                    {% else %}
                    <a href="{{ sort_email }}">{{ column_storeemail }}</a>
                    {% endif %}</td>
					<td class="text-left">
						{{ column_storephone }}
					</td>
					<td class="text-left">
						{{ column_storeaddress }}
					</td>
					 <td class="text-left">{% if sort == 'c.name' %}
                    <a href="{{ sort_seller_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                    {% else %}
                    <a href="{{ sort_seller_name }}">{{ column_name }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'c.status' %}
                    <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_storestatus }}</a>
                    {% else %}
                    <a href="{{ sort_status }}">{{ column_storestatus }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'c.date_added' %}
                    <a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a>
                    {% else %}
                    <a href="{{ sort_date_added }}">{{ column_date_added }}</a>
                    {% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if stores %}
				{% for store in stores %}
                <tr>
                  <td class="text-center">{% if selected in store.store_id %}
                    <input type="checkbox" name="selected[]" value="{{ store.store_id }}" checked="checked" />
                     {% else %}
                    <input type="checkbox" name="selected[]" value="{{ store.store_id }}" />
                     {% endif %}</td>
                  <td class="text-left">{{ store.store_name }}{{ store.is_removed }}</td>
                  <td class="text-left">{{ store.store_email }}</td>
                  <td class="text-left">{{ store.store_phone }}</td>
                  <td class="text-left">{{ store.store_address }}</td>
				   <td class="text-left"><a href="{{ store.seller_url }}">{{ store.seller_name }}</a></td>
                  <td class="text-left">{{ store.store_status }}</td>
                  <td class="text-left">{{ store.store_created_at }}</td>
                  <td class="text-right">
                    <a href="{{ store.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
                 {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="8">{{ text_no_results }}</td>
                </tr>
                 {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
    $('#button-approve, #button-disapprove').on('click', function(e) {
	
	if(confirm('{{ text_confirm }}')) {
		$('#form-store').attr('action', this.getAttribute('formAction'));   
    }
    else { 
        return false;
    }
	});
	$('#button-filter').on('click', function() {
	url = 'index.php?route=extension/purpletree_multivendor/stores&user_token={{ user_token }}';
	
	var filter_name = $('input[name=\'filter_name\']').val();
	
	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}
	
	var filter_email = $('input[name=\'filter_email\']').val();
	
	if (filter_email) {
		url += '&filter_email=' + encodeURIComponent(filter_email);
	}
	
	var filter_customer_group_id = $('select[name=\'filter_customer_group_id\']').val();
	
	if (filter_customer_group_id != '*') {
		url += '&filter_customer_group_id=' + encodeURIComponent(filter_customer_group_id);
	}	
	
	var filter_status = $('select[name=\'filter_status\']').val();
	
	if (filter_status != '*') {
		url += '&filter_status=' + encodeURIComponent(filter_status); 
	}	
	
	var filter_approved = $('select[name=\'filter_approved\']').val();
	
	if (filter_approved != '*') {
		url += '&filter_approved=' + encodeURIComponent(filter_approved);
	}	
	
	var filter_ip = $('input[name=\'filter_ip\']').val();
	
	if (filter_ip) {
		url += '&filter_ip=' + encodeURIComponent(filter_ip);
	}
		
	var filter_date_added = $('input[name=\'filter_date_added\']').val();
	
	if (filter_date_added) {
		url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
	}
	
	location = url;
});
//--></script> 
  <script type="text/javascript"><!--
$('input[name=\'filter_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=extension/purpletree_multivendor/stores/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',			
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['customer_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
	}	
});

$('input[name=\'filter_email\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=extension/purpletree_multivendor/stores/autocomplete&user_token={{ user_token }}&filter_email=' +  encodeURIComponent(request),
			dataType: 'json',			
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['email'],
						value: item['customer_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_email\']').val(item['label']);
	}	
});
//--></script> 
  <script type="text/javascript"><!--
$('.date').datetimepicker({
	pickTime: false
});
//--></script></div>
{{ footer }} 
